@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color: #20033b;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
}
